name: Ubuntu TF Builder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: [self-hosted, Linux, X64]

    # one day time out
    timeout-minutes: 1440

    steps:
    - uses: actions/checkout@v2
    - name: Check out submodules
      run: git submodule update --init --recursive
    - name: Build Emgu TF native binary
      run: ./bazel_build_tf
      working-directory: ${{ github.workspace }}/platforms/ubuntu/20.04
    - name: Build Emgu TF package
      run: ./build_emgutf
      working-directory: ${{ github.workspace }}/platforms/ubuntu/20.04
    - uses: actions/upload-artifact@v2
      with:
        name: emgutf-ubuntu-zip-package
        path: ${{ github.workspace }}/b/*.zip
    - uses: actions/upload-artifact@v2
      with:
        name: emgutf-ubuntu-nuget-package
        path: ${{ github.workspace }}/platforms/nuget/*.nupkg 
